# Strapi server
HOST=0.0.0.0
PORT=1337

# Strapi secrets
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT="tobemodified"
ADMIN_JWT_SECRET="tobemodified"
TRANSFER_TOKEN_SALT="tobemodified"
ENCRYPTION_KEY="tobemodified"

# Strapi API
STRAPI_TOKEN="your_full_access_or_custom_token"
STRAPI_URL="http://localhost:1337"
STRAPI_USER_ROLE=1  # Authenticated user role id
STRAPI_USER_PASSWORD="your_password_for_strapi_user_creation"

# Database
DATABASE_CLIENT=postgres  # Replace with 'sqlite' if you don't want to use PostgreSQL
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5433
DATABASE_NAME=postgres_db
DATABASE_USERNAME=postgres_user
DATABASE_PASSWORD="your_postgres_password"
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET="tobemodified"

# Adminer
ADMINER_PORT=8080

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD="your_redis_password"

# Telegram
TG_BOT_TOKEN="your_bot_token"
